<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <%- include('../components/head.ejs') %>
    <style>
        * {
            font-family: "Arial", sans-serif;
        }
        .fs-1 {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #4CAF50;
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

        .list-group-item {
            background-color: #f8f9fa;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 15px;
        }

        .list-group-item:hover {
            background-color: #e2e6ea;
        }

        .modal-content {
            background-color: #fefefe;
            border-radius: 10px;
        }

        .modal-header {
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }



        .modal-footer {
            background-color: #f2f2f2;
            padding: 10px;

        }

        .btn-close {
            color: white;
        }

        .btn-close:hover {
            color: #ccc;
        }

    </style>
</head>
<body>
    <%- include('../components/navbar.ejs') %>

    <div class="container">
        <div class="fs-1 fw-semibold">Admin Panel</div>
        <a href="#" class="btn-primary">Add User</a>

        <div class="list-group">
            <% users.forEach(function(us) { %>
                <div class="list-group-item">
                    <a href="/admin/<%= us.username %>" class="text-decoration-none"><%= us.username %></a>
                    <div>
                        <button class="btn btn-outline-secondary editUserBtn"
                                data-bs-toggle="modal"
                                data-bs-target="#editUserModal"
                                data-username="<%= us.username %>"
                                data-email="<%= us.email %>"
                                data-userid="<%= us._id %>"
                                data-password="<%= us.password %>">
                            Edit
                        </button>

                        <% if (!us.is_admin) { %>
                            <a href="/admin/<%= us._id %>/makeAdmin" class="btn btn-outline-secondary">
                                Make Admin
                            </a>
                        <% }  %>
                        <button class="btn btn-outline-danger" onclick="confirmDelete('<%= us._id %>')">
                            Delete
                        </button>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel" id="modalusername">Edit User: <%= user.username %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/updateUser" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <div class="mb-3">
                            <label for="username-<%= user._id %>" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username-<%= user._id %>" name="username" value="<%= user.username %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="email-<%= user._id %>" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email-<%= user._id %>" name="email" value="<%= user.email %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="password-<%= user._id %>" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password-<%= user._id %>" name="password" value="<%= user.password %>" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/admin/${userId}/delete`;
                }
            })
        }

        document.querySelectorAll('.editUserBtn').forEach(item => {
            item.addEventListener('click', function(event) {
                const button = event.currentTarget;
                const username = button.getAttribute('data-username');
                const email = button.getAttribute('data-email');
                const userid = button.getAttribute('data-userid');
                const password = button.getAttribute('data-password');

                document.querySelector('#editUserModal input[name="username"]').value = username;
                document.querySelector('#editUserModal input[name="email"]').value = email;
                document.querySelector('#editUserModal input[name="userId"]').value = userid;
                document.querySelector('#editUserModal input[name="password"]').value = password;
                document.querySelector('#editUserModal h5').innerText = `Edit User: ${username}`;
            });
        });

    </script>



    <%- include('../components/footer.ejs') %>
</body>
</html>